@page a4 {
    size: a4 portrait;
}

@media print {

    article {
        page: a4;
        break-after: page;
    }
}

/* section {
    height: 400px;
    overflow: scroll;
} */

article {
/*     border: 1px solid black;
    width: 210mm;
    height: 297mm; */

    & dl {
        row-gap: .25em;
        column-gap: 1em;
        display: grid;
        width: fit-content;
    }

    & dt {
        grid-column: 1;
    }

    & dd {
        grid-column: 2;
    }
}

/* Teilnehmer + Sichtbarkeit */
section>article:nth-of-type(n+1) {
    display: none;
}

form:has([name="participant"][value="1"]:checked) section>article:nth-last-of-type(n+10) {
    display: block;
}

form:has([name="participant"][value="2"]:checked) section>article:nth-last-of-type(n+9) {
    display: block;
}

form:has([name="participant"][value="3"]:checked) section>article:nth-last-of-type(n+8) {
    display: block;
}

form:has([name="participant"][value="4"]:checked) section>article:nth-last-of-type(n+7) {
    display: block;
}

form:has([name="participant"][value="5"]:checked) section>article:nth-last-of-type(n+6) {
    display: block;
}

form:has([name="participant"][value="6"]:checked) section>article:nth-last-of-type(n+5) {
    display: block;
}

form:has([name="participant"][value="7"]:checked) section>article:nth-last-of-type(n+4) {
    display: block;
}

form:has([name="participant"][value="8"]:checked) section>article:nth-last-of-type(n+3) {
    display: block;
}

form:has([name="participant"][value="9"]:checked) section>article:nth-last-of-type(n+2) {
    display: block;
}

form:has([name="participant"][value="10"]:checked) section>article:nth-last-of-type(n+1) {
    display: block;
}