[id^=editable-] {
    width: 75px;
}

[pattern]:invalid {
    outline: 2px solid red;
}

/*  */

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
}

th {
    border: 1px solid lightgray;
    vertical-align: top;
}

/* SPALTEN + Sichtbarkeit */
col:nth-of-type(n+2) {
    visibility: collapse;
}

form:has(#settings-checkbox-physician-1:checked) col:nth-of-type(8n+2) {
    visibility: visible;
}

form:has(#settings-checkbox-physician-2:checked) col:nth-of-type(8n+3) {
    visibility: visible;
}

form:has(#settings-checkbox-physician-3:checked) col:nth-of-type(8n+4) {
    visibility: visible;
}

form:has(#settings-checkbox-psychologist-1:checked) col:nth-of-type(8n+5) {
    visibility: visible;
}

form:has(#settings-checkbox-psychologist-2:checked) col:nth-of-type(8n+6) {
    visibility: visible;
}

form:has(#settings-checkbox-psychologist-3:checked) col:nth-of-type(8n+7) {
    visibility: visible;
}

form:has(#settings-checkbox-psychologist-4:checked) col:nth-of-type(8n+8) {
    visibility: visible;
}

/* Teilnehmer + Sichtbarkeit */

tbody>tr:nth-of-type(n+1) {
    visibility: collapse;
}

form:has([name="participant"][value="1"]:checked) tbody>tr:nth-last-of-type(n+10) {
    visibility: visible;
}

form:has([name="participant"][value="2"]:checked) tbody>tr:nth-last-of-type(n+9) {
    visibility: visible;
}

form:has([name="participant"][value="3"]:checked) tbody>tr:nth-last-of-type(n+8) {
    visibility: visible;
}

form:has([name="participant"][value="4"]:checked) tbody>tr:nth-last-of-type(n+7) {
    visibility: visible;
}

form:has([name="participant"][value="5"]:checked) tbody>tr:nth-last-of-type(n+6) {
    visibility: visible;
}

form:has([name="participant"][value="6"]:checked) tbody>tr:nth-last-of-type(n+5) {
    visibility: visible;
}

form:has([name="participant"][value="7"]:checked) tbody>tr:nth-last-of-type(n+4) {
    visibility: visible;
}

form:has([name="participant"][value="8"]:checked) tbody>tr:nth-last-of-type(n+3) {
    visibility: visible;
}

form:has([name="participant"][value="9"]:checked) tbody>tr:nth-last-of-type(n+2) {
    visibility: visible;
}

form:has([name="participant"][value="10"]:checked) tbody>tr:nth-last-of-type(n+1) {
    visibility: visible;
}